{% if submission.externalJudgements.empty %}
    {% set externalJudgement = null %}
{% else %}
    {% set externalJudgement = submission.externalJudgements.first %}
{% endif %}
<div>
    <div>
        Result:
        {% if selectedJudging is null or selectedJudging.result is empty %}
            {%- if selectedJudging and selectedJudging.started %}
                {{- '' | printValidJuryResult -}}
            {%- else %}
                {{- 'queued' | printValidJuryResult -}}
            {%- endif %}
        {%- else %}
            {{- selectedJudging.result | printValidJuryResult -}}
        {%- endif %}
        {%- if submission.stillBusy -%}
            (&hellip;)
        {%- endif -%}
        {%- if lastJudging is not null -%}
            {% set lastSubmissionLink = path('jury_submission', {submitId: lastSubmission.submitid}) %}{#-
        -#}<span class="lastresult">
            (<a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a>: {{ lastJudging.result }}){#-
        -#}</span>
        {%- endif -%}
        {%- if externalJudgement is not null %}
            (external: {{ externalJudgement.result | printValidJuryResult }})
        {%- endif %}
        {%- if selectedJudging is not null and judgehosts is not empty -%}
            , Judgehost(s):
            {% for judgehostid, hostname in judgehosts %}
                {% set judgehostLink = path('jury_judgehost', {judgehostid: judgehostid}) %}
                <a href="{{ judgehostLink }}">{{ hostname | printHost }}</a>
            {% endfor %} -
            <span class="judgetime">Judging started: {{ selectedJudging.starttime | printtime('%H:%M:%S') }}
                {%- if selectedJudging.endtime -%}
                    , finished in {{ selectedJudging.starttime | printtimediff(selectedJudging.endtime) }}s
                {%- elseif selectedJudging.valid or selectedJudging.rejudging -%}
                    &nbsp;[still judging - busy {{ selectedJudging.starttime | printtimediff }}]
                {%- else -%}
                    &nbsp;[aborted]
                {%- endif -%}
                        </span>
        {% endif -%}
        {%- if externalJudgement is not null %}
            <span class="judgetime">(external judging started: {{ externalJudgement.starttime | printtime('%H:%M:%S') }}
                {%- if externalJudgement.endtime -%}
                    , finished in {{ externalJudgement.starttime | printtimediff(externalJudgement.endtime) }}s
                {%- else -%}
                    &nbsp;[still judging - busy {{ externalJudgement.starttime | printtimediff }}]
                {%- endif -%}
                        )</span>
        {%- endif -%}
        {%- if selectedJudging is not null and selectedJudging.result != 'compiler-error' -%}
            , max/sum runtime:
            {{ selectedJudging.maxRuntime | number_format(2, '.', '') }}/{{ selectedJudging.sumRuntime | number_format(2, '.', '') }}s
            {%- if lastJudging is not null -%}
                <span class="lastruntime">
                            (<a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a>:
                                {{ lastJudging.maxRuntime | number_format(2, '.', '') }}{#-
                    -#}/{{ lastJudging.sumRuntime | number_format(2, '.', '') }}s)
                        </span>
            {%- endif -%}
        {% endif -%}
        {%- if externalJudgement is not null and externalJudgement.result != 'compiler-error' and externalJudgement.result != null -%}
            , external max/sum runtime:
            {{ externalJudgement.maxRuntime | number_format(2, '.', '') }}/{{ externalJudgement.sumRuntime | number_format(2, '.', '') }}s
        {% endif %}
    </div>

    {# Display testcase results #}
    {% if externalJudgement is not null or (selectedJudging is not null and selectedJudging.result != 'compiler-error') %}
        <table>
            <tr>
                <td>testcase runs:</td>
                <td>
                    {% if selectedJudging is null %}
                        {% set judgingDone = false %}
                    {% else %}
                        {% set judgingDone = selectedJudging.endtime is not empty %}
                    {% endif %}
                    {{ runs | displayTestcaseResults(judgingDone) }}
                    {% if selectedJudging is not null and runsOutstanding %}
                        {% if selectedJudging.judgeCompletely %}
                            <i class="fas fa-balance-scale" title="remaining test cases requested to be judged"></i>
                        {% elseif selectedJudging.result is not null %}
                            <form action="{{ path('jury_submission_request_remaining', {'judgingId': selectedJudging.judgingid}) }}" method="post"
                                  style="display: inline; ">
                                <input type="submit" class="btn btn-outline-secondary btn-sm" value="judge remaining" />
                            </form>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% if lastJudging is not null %}
                <tr class="lasttcruns">
                    <td>
                        <a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a> runs:
                    </td>
                    <td>
                        {{ lastRuns | displayTestcaseResults(lastJudging.endtime is not empty) }}
                    </td>
                </tr>
            {% endif %}
            {% if externalJudgement is not null %}
                <tr>
                    <td>external runs:</td>
                    <td>
                        {{ externalRuns | displayTestcaseResults(externalJudgement.endtime is not empty, true) }}
                    </td>
                </tr>
            {% endif %}
        </table>

        {# Show JS toggle of previous submission results #}
        {% if lastJudging is not null %}
            <span class="testcases_prev">
            <a href="javascript:togglelastruns();">show/hide</a>
            results of previous <a href="{{ lastSubmissionLink }}">submission s{{ lastSubmission.submitid }}</a>
                {% if lastJudging.verifyComment %}
                    <span class="prevsubmit">(verify comment: '{{ lastJudging.verifyComment }}')</span>
                {% endif %}
        </span>
        {% endif %}
    {% endif %}
</div>
